html {
	background-color: #d4d4d4;
}

.container {
	width: 100% !important;
	max-width: 9999px !important;
}

/* logo */ 
.avalith {
  width: 35px;
  height: 39px;
  margin-top: 10px;
  margin-left: 30px;
}

nav {
	height: 60px;
	background-color: black !important;
	position: fixed;
}

/* dev name, etc */
.gray-box {
	background-color: #444444;
	height: 135px;
	text-align: center;
	width: 300px;
	padding-top: 20px;
}

/* languages and technologies */
.results { 
	background-color: lightgray;
	height: -webkit-calc(100% - 60px);
	margin-top: 60px;
	width: 100%;
	padding-left: 330px;
}

.sideBar {
    height: -webkit-calc(100% - 60px);
    margin-top: 60px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#main {
    transition: margin-left .5s;
}

.lwhite {
	color: white !important;
}

.label-top {
	margin-top: 21px;
	font-size: 25px;
}

.label-mid {
	font-size: 19px;
}

.label-bot {
	margin-bottom: 32px;
	font-size: 19px;
}

input, select, textarea{
    color: white !important;
}

.mar-left-search {
	margin-left: 30px;
}

.row .col {
	padding: 0rem !important;
}

.input-mar {
	padding-left: 30px;
	margin-right: 30px;
}

div {
    overflow-x: hidden;
}

h5 {
	padding-left: 31px;
	padding-top: 30px;
}

label, h5 {
    font-weight: 250 !important;
}

.card.small {
    height: 100% !important;
    margin-left: 15px;
    max-width: 325px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}